.game{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black   ;   
  background-color: #57c56969;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}
.time {
  position: absolute;
  top: 5%;
  right: -3%;
  transform: translateX(-50%) translateY(-50%);
  color: #FFA500;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 1s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

.date {
  position: absolute;
  top: 5%;
  left: 7%;
  transform: translateX(-50%) translateY(-50%);
  color: #FFA500;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 1s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #1fd1f9
,
      0px 0px 10px #1fd1f9, 
      0px 0px 25px #1fd1f9,
      0px 0px 25px #1fd1f9,
      0px 0px 25px #1fd1f9,
      0px 0px 25px #1fd1f9,
      0px 0px 25px #1fd1f9,
      0px 0px 25px #1fd1f9,
      0px 0px 50px #1fd1f9,
      0px 0px 50px #1fd1f9,
      0px 0px 50px #1fd1f9,
      0px 0px 150px #1fd1f9,
      0px 10px 100px #1fd1f9,
      0px 10px 100px #1fd1f9,
      0px 10px 100px #1fd1f9,
      0px 10px 100px #1fd1f9,
      0px -10px 100px #1fd1f9,
      0px -10px 100px #1fd1f9;
  }
}