.game{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black   ;   
  background-color: #57c56969;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}
.O{
background-color: #00ddeb;

}.X{
background-color: #AF40FF;
}