.homeBtn{
    /* CSS */
      position: relative;
      right: 75%;
      bottom: 42px;
      align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 19px 24px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
    }
    .homeBtn:active,
    .homeBtn:hover {
      outline: 0;
    }
    @media (min-width: 768px) {
      .homeBtn {
        font-size: 24px;
        min-width: 196px;
      }
    }
    .clear{
      /* CSS */
      position: relative;
      top: 20px;
      left: 30%;
      align-items: center;
      background-image: linear-gradient(144deg,#00DDEB, #5B42F3 50%,#AF40FF);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 20px;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 19px 24px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
    }
    /* .clear:active{
      outline: 0;
      --main-bg-colorX : "#FFFFFF";
    } */
    @media (min-width: 768px) {
      .clear {
        font-size: 24px;
        min-width: 196px;
      }
    }
    .startGameBtn{
      /* CSS */
        align-items: center;
        background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
        border: 0;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        font-family: Phantomsans, sans-serif;
        font-size: 20px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 19px 24px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
      }
      .startGameBtn:active,
      .startGameBtn:hover {
        outline: 0;
      }
      @media (min-width: 768px) {
        .startGameBtn {
          font-size: 24px;
          min-width: 196px;
        }
      }
      .previous{
        /* CSS */
          position: relative;
          right: 75%;
          /* bottom: 42px; */
          align-items: center;
          background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
          border: 0;
          border-radius: 8px;
          box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
          box-sizing: border-box;
          color: #FFFFFF;
          display: flex;
          font-family: Phantomsans, sans-serif;
          font-size: 20px;
          justify-content: center;
          line-height: 1em;
          max-width: 100%;
          min-width: 140px;
          padding: 19px 24px;
          text-decoration: none;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          white-space: nowrap;
          cursor: pointer;
        }
        .previous:active,
        .previous:hover {
          outline: 0;
        }
        @media (min-width: 768px) {
          .previous {
            font-size: 20px;
            min-width: 196px;
          }
        }

        .random{
          /* CSS */
          position: relative;
          /* top: 20px; */
          left: 30%;
          align-items: center;
          background-image: linear-gradient(144deg,#00DDEB, #5B42F3 50%,#AF40FF);
          border: 0;
          border-radius: 8px;
          box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
          box-sizing: border-box;
          color: #FFFFFF;
          display: flex;
          font-family: Phantomsans, sans-serif;
          font-size: 20px;
          justify-content: center;
          line-height: 1em;
          max-width: 100%;
          min-width: 140px;
          padding: 19px 24px;
          text-decoration: none;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          white-space: nowrap;
          cursor: pointer;
        }
        /* .clear:active{
          outline: 0;
          --main-bg-colorX : "#FFFFFF";
        } */
        @media (min-width: 768px) {
          .random {
            font-size: 24px;
            min-width: 196px;
          }
        }
          